# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.ntvs*
*.njsproj
*.sln.docstates

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs/
*.log

# Environment files
.env
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json

# Docker
.dockerignore
Dockerfile*
docker-compose.override.yml
**/.docker/**

# PostgreSQL data directory
postgres_data/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Visual Studio cache/options directory
.vs/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msix
*.msixbundle
*.mspkg
*.appx
*.appxbundle
*.appxupload

# Windows shortcuts
*.lnk
